/*



                   o8o                           o8o
                   `"'                           `"'
ooo. .oo.  .oo.   oooo  ooo. .oo.   ooo. .oo.   oooo  oooo    ooo
`888P"Y88bP"Y88b  `888  `888P"Y88b  `888P"Y88b  `888   `88b..8P'
 888   888   888   888   888   888   888   888   888     Y888'
 888   888   888   888   888   888   888   888   888   .o8"'88b
o888o o888o o888o o888o o888o o888o o888o o888o o888o o88'   888o




*/

*, *:before, *:after {
	box-sizing: inherit;
}
@font-face {
	font-family: 'avenir';
	src: url('../font/avenir.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
html, body {
	box-sizing: border-box;
	background: #F4F8FB;
}
a, a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	outline: none;
	color: #F4A5BE;
}
article {
	font: 400 20px/1.5em 'avenir', sans-serif;
	width: 100%;
	margin: 20px auto;
	padding: 0px;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.app-insert {
	width: 100%;
	margin: 20px auto;
}
.app-insert input {
	width: 100%;
	height: 50px;
	background: #F4F8FB;
	border: 1px solid #EAF1F7;
	border-radius: 50px;
	color: #98AFC0;
	outline: none;
	font: 400 20px/1.5em 'avenir', sans-serif;
	padding: 10px;
}
input::placeholder {
 color: #EAF1F7;
}
.app-list {
	width: 100%;
	margin: 0 auto;
}
.task {
	width: 100%;
	padding: 10px;
	position: relative;
	color: #98AFC0;
	transition: all .2s ease;
}
.remove-task {
	position: absolute;
	right: 10px;
	text-decoration: none;
	color: #F4A5BE;
	transition: all .2s ease;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}
::selection {
	background: #7DA975;
	color: #FFFFFF;
}
::-moz-selection {
	background: #7DA975;
	color: #FFFFFF;
}